#map-container{
    position: relative;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#message{
    text-align: center;
    font-size: 18px;
}